/* line 2, sass/patterns/page.medium.only.scss */
.page-sidebar .row {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, sass/mixins/grid.medium.scss */
.page-sidebar .row > .grid-item {
  float: left;
  margin-left: 2.326%;
  width: 48.837%;
}
/* line 22, sass/mixins/grid.medium.scss */
.page-sidebar .row > .grid-item:first-child {
  margin-left: 0;
}
