/**
 * Color scheme from http://colorschemedesigner.com/#3E11Tw0w0w0w0
 */
/* line 1, sass/patterns/block.medium.scss */
.block-container {
  margin: 0 auto;
  max-width: 43em;
  padding: 0;
  width: 100%;
}

/* line 7, sass/patterns/block.medium.scss */
.block-logo {
  margin-top: 1em;
}

/* line 10, sass/patterns/block.medium.scss */
.block-single-aside {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, sass/mixins/grid.medium.scss */
.block-single-aside > .grid-item {
  float: left;
  margin-left: 2.326%;
  width: 48.837%;
}
/* line 22, sass/mixins/grid.medium.scss */
.block-single-aside > .grid-item:nth-child(2n) {
  clear: right;
}
/* line 25, sass/mixins/grid.medium.scss */
.block-single-aside > .grid-item:nth-child(2n + 1) {
  clear: left;
  margin-left: 0;
}
/* line 12, sass/patterns/block.medium.scss */
.block-single-aside .search {
  margin-left: 0;
}

/* line 16, sass/patterns/block.medium.scss */
.block-single-container {
  position: relative;
}
/* line 18, sass/patterns/block.medium.scss */
.block-single-container hgroup {
  height: 5em;
}
/* line 22, sass/patterns/block.medium.scss */
.block-single-container .block-single-aside .navigation-main {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 4, sass/patterns/navigation.medium.scss */
.navigation-main ul.nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navigation-main ul.nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navigation-main ul.nav li:first-child, .navigation-main ul.nav li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navigation-main ul.nav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../home/megoth/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navigation-main ul.nav li.last {
  padding-right: 0;
}

/* line 2, sass/patterns/page.medium.scss */
.page-container {
  height: auto !important;
  height: 100%;
  margin: 0 auto -5em;
  min-height: 100%;
}
/* line 7, sass/patterns/page.medium.scss */
.page-container .push {
  display: block;
  height: 5em;
}

/* line 12, sass/patterns/page.medium.scss */
.page-footer {
  height: 5em;
  margin: 0 auto;
}

/* line 2, sass/patterns/tags.medium.scss */
body,
html {
  height: 100%;
}

/* line 5, sass/patterns/tags.medium.scss */
body {
  margin: 0 1em;
}
