/**
 * Color scheme from http://colorschemedesigner.com/#3E11Tw0w0w0w0
 */
$color-background:    #ffffff;
$color-divider:       #dddddd;
$color-info:          #eeeeee;
$color-link:          #ff9900;
$color-link-variant:  #cc4d14;
$color-text:          #000000;
$color-text-info:     #999999;