
.navigation-aside {
  .menu {
    @extend .nav;
    > li > a {
      border: solid 2px $color-divider;
      margin-bottom: 0.5em;
      padding: 0.5em;
      &:hover {
        border-color: $color-link;
      }
    }
  }
}
.navigation-main {
  .nav > li > a {
    background-color: $color-link;
    color: $color-background;
    margin-bottom: 0.5em;
    padding: 0.5em;
    &:hover {
      background-color: $color-link-variant;
    }
  }
}
